h1{
    color:rgb(12, 38, 184) ;

}
img{
    width: 400px;
}
#thirdDiv{
    height: 800px;
    width: 600px;
    background-color: rgb(228, 152, 109);
    padding: 50px;
    border: 10px solid rgb(7, 45, 116);
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
